.main-mensaje__container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 200px;
  width: 50%;
  height: 200px;
  background-color: #cfcfcf;
  border-radius: 30px;
}

.main-mensaje__saludo {
  display: flex;
  align-items: center;
}
